<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyFirstService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFTasks4/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyFirstService"
                contract="ServiceReference1.IMyFirstService" name="BasicHttpBinding_IMyFirstService" />
        </client>
    </system.serviceModel>
</configuration>